* {
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 16px;
   padding: 0;
   text-decoration: none;
   color: black;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
 }
